html {
  height: 100%;
  width: 100%;
  text-align: center;
  align-items: center;
}

body {
  margin: 50px auto;
  padding: 0 20px;
  max-width: 450px;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  color: rgba(255, 255, 255, 0.9);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: hidden;
}

ul {
  list-style-type: none;
  padding: 0;
}

input {
  padding: 5px 0;
  -webkit-appearance: none;
  margin: 0;
  outline: none;
  color: rgba(255, 255, 255, 0.9);
  background-color: unset;
  border: 1px dashed rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 25px;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.9);
}

button {
  background-color: rgba(255, 255, 255, 0.7);
  color: grey;
  border: none;
  border-radius: 5px;
  font-size: 25px;
  padding: 8px;
}

#calorieForm {
  width: 100%;

}

#calorieForm input {
  border-radius: 5px 5px 0px 0px;
  border-bottom: 0;
  width: calc(100% - 2px);
}

#calorieForm button {
  border-radius: 0 0 5px 5px;
  width: 100%;
}

#quickselect-buttons {
  display: flex;
  justify-content: space-between;
}

#quickselect-buttons .quickselect {
  font-size: 16px;
  padding: 8px;
  border-radius: 0;
  background-color: unset;
  color: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.7);
  width: 18%;
}

#dateForm {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#dateForm input {
  width: calc(100% - 140px);
  flex-grow: 1;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
}

#dateForm button {
  height: 45px;
  flex-shrink: 0;
}

#prevDay {
  border-radius: 5px 0 0 5px;
}

#nextDay {
  border-radius: 0 5px 5px 0;
}

#logged-popup {
  position: absolute;
  top: 40px;
  left: 0;
  font-size: 100px;
  text-align: center;
  width: 100%;
  display: none;
}

#calorieList {
  height: 130px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  overflow-x: auto;
}

#calorieList li {
  padding: 5px;
  width: 90px;
  text-align: right;
}

#calorieList .delete-button {
  background-color: unset;
  font-size: 16px;
  padding: 0 10px;
}

#settings-toggle {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.7);
  background-color: unset;
  padding: 0;
}

#settings-toggle:before {
  content: "";
  width: 10px;
  height: 10px;
  top: 8px;
  right: 0px;
  border-radius: 50%;
  position: absolute;
  background-color: red;
  display: none;
}

#settings-toggle.show:before {
  display: block;
}

#settings-menu {
  position: absolute;
  max-width: 400px;
  top: 40px;
  bottom: 40px;
  left: 40px;
  right: 40px;
  border-radius: 5px;
  padding: 30px;
  display: none;
  flex-direction: column;
  z-index: 2;
  background-color: white;
  color: grey;
}

#settings-menu input {
  color: grey;
  border-color: grey;
}

#settings-menu button {
  border: 1px solid grey;
  border-radius: 5px;
}

#settings-menu a {
  color: grey;
}

#calorie-chart-container {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  max-height: 100px;
  z-index: -1;
  opacity: 0.5;
  width: 100%;
}

#calorieChart {
  margin: 0 auto;
  max-width: 450px;
  width: 100%;
}

